/* Coolors Exported Palette - coolors.co/709624-af0f67-92bda3-c6c5b9-ce6366 */

/* HSL */
$color1: hsla(80%, 61%, 36%, 1);
$color2: hsla(327%, 84%, 37%, 1);
$color3: hsla(144%, 25%, 66%, 1);
$color4: hsla(55%, 10%, 75%, 1);
$color5: hsla(358%, 52%, 60%, 1);

/* RGB */
$color1: rgba(112, 150, 36, 1);
$color2: rgba(175, 15, 103, 1);
$color3: rgb(237, 237, 237);
$color4: rgb(202, 232, 189);
$color5: rgb(243, 202, 203);
